application:
	scanComposer: false


services:
	- Zenify\DoctrineMethodsHydrator\Tests\DatabaseLoader
	- Zenify\DoctrineMethodsHydrator\Tests\UI\MockControlFactoryInterface


extensions:
	- Kdyby\Events\DI\EventsExtension
	- Kdyby\Annotations\DI\AnnotationsExtension
	doctrine: Kdyby\Doctrine\DI\OrmExtension
	- Zenify\DoctrineMethodsHydrator\DI\MethodsHydratorExtension


doctrine:
	driver: pdo_sqlite
	memory: true
